.editWarehouse {
    position: absolute;
    display: flex;
    justify-content: center;
    margin: 11.79%, 4.27%, 8.32%, 4.27%;
    background: #FFFFFF;
    box-shadow: 0px 2px 5px rgba(19, 24, 44, 0.1);
    border-radius: 3px;

    &__head {
        width: 100%;
        height: 36px;
        margin: 4%;
    }

    &__title {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 600;
        font-size: 28px;
        line-height: 36px
    }

    &__content {
        width: 100%;
    }

    &__formTitle {
        font-family: 'Titillium Web';
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 28px;
    }
}

.editWarehouseForm {
    display: flex;

    &__partOne {
        border-bottom: 2px solid black;
    }
}


