//-- Colors --//

// Primary

$globalText: #13182c;
$interactiveElements: #2e66e5;
$globalWhite: #ffffff;

// Secondary

$headersPlaceholdersText: #5c667e;
$outlinesBorders: #bdc5d5;

// Background

$navHeaderBG: #232940;
$pageBG: #f7f8f9;

// Supporting

$inStock: #158463;
$outOfStock: #c94515;
